<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <f:if condition="{accessToken.uid}">
            <f:then>
                <code>
                    The access token for {providerConfiguration.type}#{providerConfiguration.uid} has been updated sucessfully.
                </code>
            </f:then>
            <f:else>
                <code>
                    The access token for {providerConfiguration.type}#{providerConfiguration.uid} has been created sucessfully.
                </code>
            </f:else>
        </f:if>
    </body>

</html>