<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <h1>Oauth2 Provider Configurations</h1>

    <div class="table-fit">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="col-title" style="width: 0;">Type</th>
                <th class="col-title"></th>
                <th>Access Tokens</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{configurations}" as="configuration">
                <tr>
                    <td>
                        <a href="#" class="t3js-contextmenutrigger t3-js-clickmenutrigger" data-table="tx_oauth2manager_domain_model_providerconfiguration"
                           data-uid="{configuration.uid}">
                            <core:icon identifier="{configuration.type}" size="default"/>
                        </a>
                    </td>
                    <td>
                        <b>Client ID</b>: {configuration.clientId}<br>
                        <b>Client Secret</b>: {configuration.clientSecret}<br>
                        <b>Redirect Uri:</b> {configuration.redirectUri}<br>
                    </td>
                    <td>
                        <f:if condition="{configuration.accessTokens}">
                            <f:then>

                                <table class="table">
                                    <thead>

                                    <tr>
                                        <th>Token</th>
                                        <th>Expires</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <f:for each="{configuration.accessTokens}" as="accessToken">
                                        <tr>

                                            <td>
                                                <f:spaceless>
                                                    <a href="#" class="t3js-contextmenutrigger t3-js-clickmenutrigger" data-table="tx_oauth2manager_domain_model_accesstoken"
                                                       data-uid="{accessToken.uid}">
                                                        <core:icon identifier="{configuration.type}" size="small"/>
                                                    </a>
                                                </f:spaceless>
                                                {accessToken.accessToken -> f:format.crop(maxCharacters: 32)}
                                            </td>
                                            <td>
                                                <f:if condition="{accessToken.expires}">
                                                    <f:then>
                                                        {accessToken.expires -> f:format.date(format: 'd.m.Y H:i')}
                                                    </f:then>
                                                    <f:else>
                                                        never
                                                    </f:else>
                                                </f:if>
                                            </td>

                                        </tr>
                                    </f:for>
                                    </tbody>
                                </table>
                            </f:then>
                            <f:else>
                                No access tokens yet
                            </f:else>
                        </f:if>
                        <f:link.action action="authorize" controller="Authorization" arguments="{providerConfiguration: configuration}"
                                       target="_blank" class="btn btn-link">
                            <core:icon identifier="actions-window-open" size="small"/>
                            Create New
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</html>